After=multi-user.target

[Service]
ExecStart=/usr/bin/node /home/ec2-user/twin-api/server.js
Restart=alwas
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=my-node-server
User=ec2-user
EnvironmentFile=/home/ec2-user/twin-api/app.env

[Install]
WantedBy=multi-user.target
